Resources:
  MyElastiCache:
    Type: "AWS::ElastiCache::CacheCluster"
    Properties:
      CacheNodeType: "cache.t2.micro"
      NumCacheNodes: "1"
      Engine: "memcached"
      Port: "11211"
      VpcSecurityGroupIds:
        - Fn::GetAtt:
          - MyCacheSecurityGroup
          - GroupId
  MyCacheSecurityGroup:
    Type: "AWS::EC2::SecurityGroup"
    Properties:
      GroupDescription: "Access from webservers only"
      SecurityGroupIngress:
        - IpProtocol: "tcp"
          FromPort: "11211"
          ToPort: "11211"
          SourceSecurityGroupName:
            Ref: "AWSEBSecurityGroup"
files:
  "/opt/python/etc/elasticache_endpoint":
    mode: "000666"
    owner: root
    group: root
    content: {"Fn::GetAtt": ["MyElastiCache", "ConfigurationEndpoint.Address"]}
Outputs:
  ElastiCache:
    Description: "ID of ElastiCache Cache Cluster with Memcached Engine"
    Value:
      Ref: "MyElastiCache"



